<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    <link type="text/css" rel="stylesheet" href="../assets/fonts/ionicons-2.0.1/ionicons-2.0.1/css/ionicons.css">
    <title>TaskMan - Simply and Easily Manage Activities</title>
</head>
<body>
    
    <div class='wrapper'>

        <div class='container'>

            <nav class='nav'>
                <div class='nav-brand'> TASKMAN </div>

                <div class='nav-bar'>
                    <ul class='nav-bar-menu'>
                        <a href='#' class='nav-bar-menu-item'><li>About</li></a>
                        <a href='#' class='nav-bar-menu-item'><li>Contact</li></a>
                        <a href='#' class='nav-bar-menu-item nav-bar-menu-btn btn'>Get Started</a>
                    </ul>
                </div>
            </nav>

            <section class="content">

                <div class="content-body">
                    <h1 class="">Welcome to <span>Taskman</span></h1>
                    <p class="">Taskman is a simple, easy-to-use platform or managing and organizing your activities, tasks and project in an intuitive manner that leaves you with a distinct clarity on what to do next.</p>

                    <div class="content-body-cta">
                        <a href="#"><button class="btn">Get Started</button></a>
                        <a href="#"><button class="btn">About</button></a>
                    </div>
                </div>

                <div class="content-footer">
                    <div class="content-footer-item">
                        <i class="ion-ios-list"></i>
                        <h4>Manage Tasks</h1>
                    </div>

                    <div class="content-footer-item">
                        <i class="ion-ios-albums"></i>
                        <h4>Organize Projects</h4>
                    </div>

                    <div class="content-footer-item">
                        <i class="ion-ios-pie"></i>
                        <h4>Measure Progress</h4>
                    </div>
                </div>
                
            </section>

        </div>

    </div>

</body>
</html>